<nav class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
      <div class="liner"></div>
                  
      <!-- circular user icon -->
      

      <!-- circular tasks icon -->
       <li>
          <a routerLink="source" routerLinkActive="active" data-toggle="tab" title="completed">
              <span class="round-tabs one">
                  <i class="glyphicon glyphicon-list-alt"></i>
              </span> 
          </a>
      </li>

      <!-- circular home icon -->
      <li>
          <a routerLink="target" routerLinkActive="active" data-toggle="tab" title="completed">
              <span class="round-tabs two">
                  <i class="glyphicon glyphicon-list-alt"></i>
              </span>
          </a>
      </li>

      <!-- circular ok icon -->
      <li>
          <a routerLink="compare" routerLinkActive="active" data-toggle="tab" title="completed">
              <span class="round-tabs three">
                  <i class="glyphicon glyphicon-refresh"></i>
              </span>
          </a>
      </li>

      <li>
            <a routerLink="errors" routerLinkActive="active" data-toggle="tab" title="">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-time"></i>
                </span>
            </a>
        </li>   
      

              
  </ul>
  <div class="clearfix"></div>
</nav>
